#navbar {
  overflow: hidden;
  background-color: #5e782a;
  top: 0px;
  position: sticky;
  /*z-index = defines the order of css elements*/
  z-index: 1;
  padding: 5px;
}

#navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  font-size: 60px;
  font-family: 'Bebas Neue', cursive;
}

#navbar p {
  margin-right: 2%;
  float: right;
  color: #ffffff;
  font-size: 45px;
  font-family: 'Bebas Neue', cursive;
}

a:hover {
  background-color: #ff968f;
}

img.boy {
  float: left;
  width: 15%;
  height: 15%;
  margin-top: 2%;
  margin-left: 2%;
}

img.robot {
  float: right;
  width: 15%;
  height: 15%;
  margin-top: 2%;
  margin-right: 2%;
}

div.grid-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto auto;
  grid-gap: 4%;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 350px;
}

.subtitle {
  margin-top: 30px;
  border-radius: 20px;
  padding: 10px;
  background-color: #ffd399;
  color: #124494;
}

h1 {
  margin-left: 20%;
  margin-right: 20%;
  padding: 5%;
  text-align: center;
  border: solid 5px orange;
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
}

h2 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

h3 {
  text-decoration: underline;
  padding-top: 20px;
}

ul {
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  font-size: 23px;
  font-family: sans-serif;
  margin-bottom: 30px;
  background-color: #fff2e0;
}

li {
  padding-bottom: 20px;
}

div a.return {
  /* z-index: 5; */
  float: right;
  font-size: 25px;
  margin-top: 5%;
  padding: 30px;
  border-radius: 50px;
  background-color: #ffb9b3;
  font-family: 'Bebas Neue', cursive;
}

a.return:hover {
  background-color: #ff968f;
}
