body {
justify-content: center;
flex-wrap: wrap;
text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #5e782a;
}

#navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  size: 30px;
}

div.banner {
  position: relative;
}

img.dog {
width: 100%;
height: 100%;
opacity: 50%;
}

div.title {
  background-color: #ffd399;
  justify-content: left;
  border-radius: 0 30px 30px 0;
  padding-right: 20px;
  padding-left: 100px;
  position: absolute;
  top: 30%;
  font-size: 30px;
  font-size: 2vw;
}

p.credits {
  bottom: 10px;
  left: 16px;
  position: absolute;
  font-family: sans-serif;
}

img.arrow {
  position: absolute;
  font-size: 10px;
}

.card {
  padding: 2px 16px;
}

.category{
  margin-top: 30px;
  color: #124494;
  justify-content: center;
}

p{
  font-size: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 50;
  font-family: sans-serif;
}
